@import "tailwindcss";

body, html {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  height: 100%;
}

.bg-img {
  background-image: url('./assets/bg-img/bg-home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
